{% extends "base.html" %}

{% block content %}
<h1 class="title">Paul-Sebastian Manole</h1>

<p>Hey there! I'm Paul, a Software Engineer based in Romania, driven by a
  passion for crafting robust and maintainable systems. Currently, I bring this
  ethos to life as a Consultant at Thoughtworks, where I partner with clients
  to design and deliver high-quality, cloud-native applications. My focus is on
  practical solutions, embracing Continuous Delivery and DevOps to ensure
  smooth, efficient development cycles.</p>

<p>My engineering philosophy centers around being an "expert generalist" (a la
  Martin Fowler), which means I'm always honing my skills across a diverse
  stack&mdash;from TypeScript and React to C#, F#, Rust, .NET, Docker, and
  Kubernetes. Functional programming holds a special place in my toolkit (think
  F#, Rust, Gleam), driving my commitment to composable, testable, and
  inherently readable code.</p>

<p>I'm a firm believer in established practices like TDD, DDD, microservices,
  and robust error handling. My goal is always to build reliable, scalable
  systems with an emphasis on high code quality and minimal friction. I've
  applied these principles across various sectors, including pharma,
  manufacturing, and automotive, helping teams modernize their approach and
  refactor legacy systems for tangible improvements.</p>

<p>If you're into modern software engineering practices, building sustainable
  systems, or just want to chat about the latest in tech, feel free to connect
  with me on <a
    href="https://www.linkedin.com/in/paulsebastianmanole/">LinkedIn</a>.</p>

<p>You can also explore my thoughts and experiences on my
<a href="{{ get_url(path='@/blog/_index.md') }}">blog</a>.</p>
{% endblock content %}
